@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.font-caveat {
	font-family: 'Caveat', cursive;
}

.font-abril {
	font-family: 'Abril Fatface', serif;
}

.font-alata {
	font-family: 'Alata', sans-serif;
}


